
/87_nodejs_i18n/node_modules
/87_nodejs_i18n/.idea
/88_nodejs_bee_queues/node_modules
/*/node_modules
/90_nodejs_multer/uploads/images
92_tesseract_image_to_text/.idea/92_tesseract_image_to_text.iml
92_tesseract_image_to_text/.idea/modules.xml
92_tesseract_image_to_text/.idea/vcs.xml
/98_nodejs_minio/data
